body {
  background-color: 2a2a2a;
}
/* заголовок статьи */
.post-title {
  color: red;
}
/* текст статьи */
.post-text:hover {
  color: tomato;
}
.post-text {
  color: saddlebrown;
}
.post-title:hover {
  color: teal;
}
/* ссылка */
.post-link:hover,
.post-link:focus {
  color: teal;
}
/* ссылка */
.test-link {
  color: black;
}
.test-link:hover {
  color: brown;
}
.test-link:active {
  color: red;
}
/* стилизация заголовка страницы*/
.link-item:hover,
.link-item:focus {
  color: brown;
}
.link-item:active {
  color: teal;
}
/* абзац текста */
.text {
  color: #2a2a2a;
}
.text:hover {
  color: teal;
}
/* абзац текста с тенью. пример из конспекта */
.title {
  color: #ffffff;
  text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
}
